<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<title>Insert title here</title>
</head>

<body>
	<div class="container mt-3">
		<h1 class="text-center">
			Best of the year by [[${username}]]
		</h1>
		<ul class="d-flex gap-2 list-unstyled justify-content-center mt-4">
			<li><a class="text-decoration-none btn btn-primary" href="/movies">Movies</a></li>
			<li><a class="text-decoration-none btn btn-primary" href="/songs">Songs</a></li>
		</ul>
	</div>
</body>

</html>